<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin products page</title>

      <link rel="stylesheet" href="/stylesheets/buyingPagesCSS/admin-products-page-body.css">
      <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/landbooker-selling-form-page-footer.css">
      <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/landbooker-selling-form-page-header.css">
      <link rel="stylesheet" href="/stylesheets/buyingPagesCSS/proper-and-random-search-products.css">
      <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/landbooker-selling-form-page-sidebar.css">
</head>
<body>
  <!-- header container -->
  <div class="cartHeading">
    <div class="cartHeadingLogo">
      <a href="/us/landbook">
        <img src="/imagesAndVideos/Logos/LOGO/Wow3.png" alt="">
      </a> 
    </div>
    <div class="cartHeadingText">
        Products 
      <span class="cartNumber js-cartNumber">
        (<%= products.length %>)
      </span>
      <% if(products.length <= 1) { %>
        Item
      <% } else { %>
        Items
      <% } %>
    </div>
  </div>

  <!-- navigations -->
  <div class="navigationsBox">
    <a href="/us/landbook" class="links">
      <div class="navLinks">
        Home
      </div>       
    </a>

    <a href="/us/createProductsPanel" class="links">
      <div class="navLinks">
        Previous page
      </div>
    </a>

  </div>

  <!-- sidebar container -->
  <!-- <div class="sidebarContainer">
    <a href="/us/buyingforms" class="sidebarLinks">
      <div class="advertisingSidebar sidebarContents">
        <img src="/imagesAndVideos/Logos/LOGO/Wow4.webp" alt="">
        Buying forms
      </div>
    </a>
    <a href="/us/Sellingforms" class="sidebarLinks">
      <div class="cartIconSidebar sidebarContents">
        <img src="/imagesAndVideos/Logos/Cart Icon.svg" alt="">
        SellingForms
      </div>
    </a>  
    <a href="/home/buyingCartTimersPage" class="sidebarLinks">
      <div class="helpIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/Help icon.svg" alt="">
          Buying cart timers
      </div>
    </a>

    <a href="/us/mapCoordinates" class="sidebarLinks">
      <div class="supportUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/User feedback icon.svg" alt="">
        Get map coordinates
      </div>
    </a>

    <a href="/home/aboutus" class="sidebarLinks">
      <div class="aboutUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/About us icon.svg" alt="">
        About Us
      </div>
    </a>
  </div> -->

    <% if(error.length > 0) { %>
      <div class="flash flash-error">
        <%= error %>
      </div>
    <% } %>
    <% if(success.length > 0) { %>
      <div class="flash flash-success">
        <%= success %>
      </div>
    <% } %>

    <!-- product lists in this container through javascript -->
    <div class="container">
      <% if(products.length > 0) { %>
        <% products.reverse().forEach((product) => { %>
          <div class = "productsContainer">
            <a href="/buy/viewproduct/<%= product._id %>/<%= product.city %>/<%= product.tehsil %>" class="productLink">
              <div id = "<%= product._id %>">
                <div class="productsImage">
                  <img src= "data:image/jpeg;base64, <%= product.productImages[0].toString('base64') %>" alt="product image">
                </div>
                <div class="productsPriceAndLB">
                  <div class= "productsPrice">
                    Price: <%= product.landbookPrice %> Lakhs.
                  </div>
                  <div class= "productsLB">
                    L * B: <%= product.LB %>
                  </div>
                </div>
                <div class="productsSpec">
                  <%= product.spec %>
                </div>
                <div class="productsStats">
                  <div class="productsVisit">
                    Times Visited: <%= product.visits.length %> &#183
                  </div>
                  <div class="productsRating">
                    <img src= "data:image/jpeg;base64, <%= product.ratingImage.toString('base64') %>">
                  </div>
                  <div class="productsClaim">
                    Claimed: <%= product.claimedPeople.length %> &#183
                  </div>
                </div>
            </a>
                <div class="productId">
                  Product id: <%= product._id %>
                </div> <br>
                <% if(landbookers) { %>
                  <a href="/home/admin/modify-buying-product/<%= product._id %>" class="modifyLink">
                    Modify product
                  </a> <br>
                <% } %>
                <div class="productId">
                  Map marker Id: 
                  <% if(product.mapMarkerId.length > 0) { %>
                    <span class="green">
                      <%= product.mapMarkerId %>
                    </span>
                  <% } else { %>
                    <span class="red">
                      Not Made.
                    </span>
                    <a href="/us/newMapProductcreation/<%= product._id %>" class="link">
                      Create new map product
                    </a>
                  <% } %> 
                </div>
                <div>
                <% if(landbookers) { %>
                  <a href="/landad/delete-product/<%= product._id %>">
                    <button class= "claimToCartButton js-claim-to-cart" onclick="return confirmDelete()"> 
                      Delete product
                    </button>
                  </a>
                <% } %>
                </div>
              </div>
            
          </div>
        <% }) %>
      <% } else{ %>
        <div class="noProducts">No products</div>
      <% } %>
    </div>


  <!-- footer container -->
  <footer>

    <div class="aboutThisPage">
      <div class="aboutThisPageLanguage">
        <div class="languageImage">
          <img src="/imagesAndVideos/Logos/About us icon.svg" alt="">
        </div>
        <div class="languageText">
          English
        </div>  
      </div>

      <div class="aboutCountry">
        <div class="aboutCountryImage">
          <img src="/imagesAndVideos/Logos/LOGO/Wow4.webp" alt="">
        </div>
        <div class="aboutCountryText">
          India
        </div>
      </div>
    </div>

    <div class="aboutCompany">
      <div class="companyConditions aboutCompanyTexts">
        Conditions of Use
      </div>
      <div class="companyPrivacyPolicy aboutCompanyTexts">
        Privacy Notice
      </div>
      <div class="aboutAdvertising aboutCompanyTexts">
        Interest-Based Ads
      </div>
    </div>

    <div class="companyCopywrite">
      .c. 1996-2024, Landbook.com, Inc. and its affiliates
    </div>

  </footer>

  <script>
    function confirmDelete() {
      return confirm('Are you sure you want to delete this product? This action cannot be undone!')
    }
  </script>

    
  <!-- <script type="module" src="./js/sell-page.js"></script> -->

</body>
</html>


<a href=""></a>