<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin new map products panel</title>

  <link rel="stylesheet" href="/stylesheets/homePagesCSS/adminPanel.css">

</head>
<body>

  <div class="header">
    <div class="title">
      Landbook
    </div>
    <div class="aboutPage">
      Admin panel (New map products)
    </div>
  </div>


  <!-- navigations -->
  <nav class="main-navbar">
    <button class="hamburger" onclick="toggleSidebar()">
      &#9776
    </button>
    <div class="hamburgerNotification">
      <%= mapProductCreationLength %>
    </div>
  </nav>

  <div id="sidebar" class="sidebar">
    <div class="sidebarTops">
      <button class="close-btn" onclick="toggleSidebar()">
        &times;
      </button>
    </div>
    <div class="navigationsBox">
      <a href="/us/landbook" class="links">
        <div class="navLinks">
          Home
        </div>       
      </a>
      <a href="/us/createProductsPanel" class="links">
        <div class="navLinks skymanProducts">
          Previous page
        </div>
      </a>
    </div>
    <div class="navigationsBox4">
      <a href="/us/buyingforms" class="links">
        <div class="navLinks buyingForms">
          Buying forms
        </div>       
      </a>
      <a href="/us/Sellingforms" class="links">
        <div class="navLinks sellingForms">
          Selling forms
        </div>
      </a>
    </div>
    <div class="navigationsBox5">
      <a href="/us/adminProducts" class="links">
        <div class="navLinks createMapElements">
          Create new map elements
        </div>       
      </a>
      <div class="createMapElementsNotification">
        <%= mapProductCreationLength %>
      </div>
      <a href="/us/mapCoordinates" class="links">
        <div class="navLinks sellingForms">
          Get map coordinates
        </div>
      </a>
    </div>
    <div class="navigationsBox2">
      <a href="/us/skyman-current-location" class="links">
        <div class="navLinks">
          Get Latitude and Longitude
        </div>
      </a>
      <a href="/us/aboutus" class="links">
        <div class="navLinks">
          About us
        </div>
      </a>
    </div>
  </div>


  <% if(success.length > 0) { %>
    <div class="flash flash-success">
      <%= success %>
    </div>
  <% } %>
  <% if(error.length > 0) { %>
    <div class="flash flash-error">
      <%= error %>
    </div>
  <% } %>

  <div class="container">
    <div class="pageTitle">
      Create zameen with coordination (new)
    </div>
    <div class="productDetails">
      <div class="productDetailTitle">
        Create product
      </div>
      <form action="/us/add-new-marker" method="post">

        <input type="text" name="clusterName" class="inputs" placeholder="Enter cluster name of marker" value="<%= product.tehsil %>" required>

        <input type="number" name="lat" class="inputs" placeholder="Enter latitude of marker" step="any" value="<%= product.lat %>" required>

        <input type="text" name="lng" class="inputs" placeholder="Enter longitude of marker" step="any" value="<%= product.lng %>" required>

        <input type="text" name="popupText" class="inputs" placeholder="Enter popup title of marker" required>

        <input type="text" name="productId" value="<%= product._id %>" class="inputs" placeholder="Enter productId of marker" readonly required>

        <input type="submit" value="Create new zameen marker on map" class="inputs submit-button" onclick="return confirm()">
      </form>
    </div>

    <div class="linkDiv">
      <a href="/us/adminProducts" class="readProducts">
        Read all products.
      </a>
    </div>
      <div class="linkDiv">
        <a href="/us/new-map" class="readProducts">
          View new map
        </a>
      </div>

  </div>

  <script>
  function confirm() {
    return confirm('Is the latitude of the product is correct, if not, you can cancel this and change it to real coordinates!')
  }
  function toggleSidebar() {
    document.getElementById('sidebar').classList.toggle('active');
  }
  </script>

</body>
</html>