<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landbooker real product creation panel</title>

  <link rel="stylesheet" href="/stylesheets/homePagesCSS/landbooker-create-products.css">

</head>
<body>

  <div class="header">
    <div class="title">
      Landbook
    </div>
    <div class="aboutPage">
      Landbooker panel
    </div>
  </div>

  <!-- navigations -->
  <div class="navigationsBox">
    <a href="/us/landbook" class="links">
      <div class="navLinks">
        Home
      </div>       
    </a>

    <a href="/us/skyman-products-page" class="links">
      <div class="navLinks skymanProducts">
        Skyman products page
      </div>
      <div class="skymanProductsNotification">
        <%= skymanProducts.length %>
      </div>
    </a>

    <a href="/home/compress/landbooker/skyman" class="links">
      <div class="navLinks">
        Khatauni images compressing page
      </div>
    </a>

    <a href="/us/admin-calculator" class="links">
      <div class="navLinks">
        Calculator
      </div>
    </a>
  </div>

  <!-- sidebar container -->
  <div class="sidebarContainer">
    <a href="/us/buyingforms" class="sidebarLinks">
      <div class="buyingForms sidebarContents">
        <img src="/imagesAndVideos/Logos/LOGO/Wow4.webp" alt="">
        Buying forms
      </div>
      <div class="buyingFormsNotification">
        <%= buyingForms.length %>
      </div>
    </a>
    <a href="/us/Sellingforms" class="sidebarLinks">
      <div class="sellingForms sidebarContents">
        <img src="/imagesAndVideos/Logos/Cart Icon.svg" alt="">
        SellingForms
      </div>
      <div class="sellingFormsNotification">
        <%= contacterSellingForms.length %>
      </div>
    </a>  
    <a href="/us/newMapProductcreation" class="sidebarLinks">
      <div class="createMapElements sidebarContents">
        <img src="/imagesAndVideos/Logos/Help icon.svg" alt="">
        Create new map elements
      </div>
      <div class="createMapElementsNotification">
        <%= mapProductCreationLength %>
      </div>
    </a>

    <a href="/us/mapCoordinates" class="sidebarLinks">
      <div class="supportUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/User feedback icon.svg" alt="">
        Get map coordinates
      </div>
    </a>

    <a href="/home/aboutus" class="sidebarLinks">
      <div class="aboutUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/About us icon.svg" alt="">
        About Us
      </div>
    </a>

  </div>

  <% if(success.length > 0) { %>
    <div class="flash flash-success">
      <%= success %>
    </div>
  <% } %>
  <% if(error.length > 0) { %>
    <div class="flash flash-error">
      <%= error %>
    </div>
  <% } %>

  <div class="container">
    <div class="pageTitle">
      Create Real Product
    </div>
    <div class="productDetails">
      <div class="productDetailTitle">
        Create Real product
      </div>
      <form action="/landad/admin/c&p.cp" method="post" enctype="multipart/form-data">

        <input type="text" name="title" class="inputs" placeholder="Enter title of zameen" required>

        <input type="number" name="zameenNumber" class="inputs" placeholder="Enter number of zameen" required>

        <input type="text" name="city" class="inputs" placeholder="Enter city of zameen" required>

        <input type="text" name="tehsil" class="inputs" placeholder="Enter tehsil of zameen" value="<%= skymanProduct.tehsil %>" readonly required><hr>

        <label class="labels" class="labels">Product side images (<span class="highlights">5</span>) [1. <span class="highlights">Real image</span> 2. <span class="highlights">L*B image</span> 3. <span class="highlights"> Road and land height compare image</span> 4. <span class="highlights">Upto main road width of front road image</span> 5. <span class="highlights">Badnaam image</span> ]: </label>
        <input type="file" multiple accept="image/*" name="productImages" class="file inputs" required><hr>

        <label class="labels">360 degree image (<span class="highlights">1</span>): </label>
        <input type="file" accept="image/*" name="product360Image" class="file inputs" required><hr>

        <label class="labels">Badnaam image(<span class="highlights">1</span>): </label>
        <input type="file" accept="image/*" name="badnaamImage" class="file inputs" required><hr>

        <label class="labels">Rating image: </label>
        <input type="file" accept="image/*" name="ratingImage" class="file inputs" placeholder="Enter the rating of this zameen" required><hr>

        <input type="number" name="ratingCount" class="inputs" placeholder="Enter rating count of product" step="any" required>

        <label for="khatauniFile" class="labels">Compressed Khatauni File (.zip or .pdf):</label>
        <input type="file" name="compressedKhatauniFile" id="khatauniFile" class="file inputs" accept=".zip,.pdf" required>

        <!-- prices starts-->
        <input type="number" name="sellerPrice" class="inputs" placeholder="Enter original price" value="<%= skymanProduct.sellerPrice %>" readonly step="any" required>

        <input type="number" name="landbookPrice" class="inputs" placeholder="Enter landbook price" step="any" required>

        <input type="number" name="brokerPrice" class="inputs" placeholder="Enter broker price" step="any" required>
        <!-- prices ends -->

        <input type="text" name="LB" class="inputs" value="<%= skymanProduct.LB %>" placeholder="Enter LB" readonly required>

        <!-- <input type="number" name="area" class="inputs" placeholder="Enter area in sqft." required> -->

        <label class="labels" for="spec">Specifications (one per line): </label>
        <textarea name="spec" rows="5" cols="30" placeholder="Enter spec of this zameen" style="width: 100%;margin-bottom: 12px;"><%- skymanProduct.spec.join('\n') %></textarea>

        <label class="labels" for="why">Why to buy (one per line): </label>
        <textarea name="why" rows="5" cols="30" placeholder="Enter why details of this zameen" style="width: 100%;margin-bottom: 12px;"></textarea>

        <input type="text" name="sellerId" class="inputs" value="<%= skymanProduct.sellerId %>" readonly required>

        <input type="text" name="sellingFormId" class="inputs" value="<%= skymanProduct.sellingFormId %>" readonly required>

        <label class="labels">Skyman product id: </label>
        <input type="text" name="skymanProductId" class="inputs" value="<%= skymanProduct._id %>" readonly required>

        <input type="number" step="any" name="lat" class="inputs" value="<%= skymanProduct.lat %>" readonly required>

        <input type="number" step="any" name="lng" class="inputs" value="<%= skymanProduct.lng %>" readonly required>

        <input type="number" name="sellerContact" hidden value="<%= skymanProduct.contactNumber %>">

        <input type="text" name="keys" class="inputs" placeholder="Enter keys of product" required>

        <input type="text" name="recommendation" class="inputs" placeholder="Enter location keys of product" required>

        <input type="submit" value="Create product" class="inputs submit-button">
      </form>
    </div>

    <div class="">
      <a href="/us/adminProducts" class="readProducts">
        Read all products.
      </a>
    </div>

  </div>

</body>
</html>