<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>preview of selling page</title>

  <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/preview-of-selling-footer-page.css">
  <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/preview-of-selling-individual-product-boxPage.css">
  <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/preview-of-selling-media-queries-page.css">
  <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/preview-of-selling-page.css">
  <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/preview-of-selling-selling-form.css">
  <link rel="stylesheet" href="/stylesheets/sellingPagesCSS/preview-of-selling-zameen-with-other-zameens.css">

          <!-- google translate hidden element (head) -->
<div id="google_translate_element" style="display:none;"></div>

<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'en,hi,bn,ur,ta,te,pa,gu,ml,mr,it',
      autoDisplay: false,
    }, 'google_translate_element');
  }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>

    <!-- header -->
    <div class="header">
      <div class="headerLogo">
        <a href="/home/landbook"><img src="/imagesAndVideos/Logos/LOGO/banner2.png" alt=""></a>
      </div>
      <div class="headerText">
        Landbook. Preview Of Zameens
      </div>
    </div>
  
      <!-- navigations -->
      <div class="navigationsBox">
        <a href="/home/<%= city %>/<%= tehsil %>" class="links">
          <div class="navLinks">
            Home
          </div>       
        </a>
        <a href="/home/sell/<%= city %>/<%= tehsil %>" class="links">
          <div class="navLinks">
            Previous Page
          </div>
        </a>
        <a href="/home/help/<%= city %>/<%= tehsil %>" class="links">
          <div class="navLinks">
            Help
          </div>
        </a>
      </div>


      <!-- main page -->
      <div class="zameenWithOtherZameensHeading">
        How your zameen will look as in our pages with other zameens too
      </div>
      <div class="zameenWithOtherZameens">

        <div class="container"> 
          <div class = "productsContainer">
            <div id = "1a">
              <div class="productsImage">
                <img src= "/imagesAndVideos/images/2.jpg" alt="">
              </div>
              <div class="productsPriceAndLB">
                <div class= "productsPrice">
                  Price: Your zameen Price
                </div>
                <div class= "productsLB">
                  L * B: Your zameen Length and Breadth
                </div>
              </div>
              <div class="productsSpec">
                Your zameen's location and Specification
              </div>
              <div class="productsStats">
                <div class="productsVisit">
                  Times Visited: 123 &#183
                </div>
                <div class="productsRating">
                  <img src= "/imagesAndVideos/Logos/ratings/rating-45.png">
                </div>
                <div class="productsClaim">
                  Claim: 12 &#183
                </div>
              </div>
              <div>
                <button class= "claimToCartButton js-claim-to-cart"> 
                Claim To Land Cart</button>
              </div>
            </div>
          </div> 

          <div class = "productsContainer">
            <div id = "2a">
              <div class="productsImage">
                <img src= "/imagesAndVideos/images/2.jpg" alt="">
              </div>
              <div class="productsPriceAndLB">
                <div class= "productsPrice">
                  Price: other's zameen Price
                </div>
                <div class= "productsLB">
                  L * B: other's zameen Length and Breadth
                </div>
              </div>
              <div class="productsSpec">
                other's zameen's location and specification
              </div>
              <div class="productsStats">
                <div class="productsVisit">
                  Times Visited: 123 &#183
                </div>
                <div class="productsRating">
                  <img src= "/imagesAndVideos/Logos/ratings/rating-45.png">
                </div>
                <div class="productsClaim">
                  Claim: 12 &#183
                </div>
              </div>
              <div>
                <button class= "claimToCartButton js-claim-to-cart"> 
                Claim To Land Cart</button>
              </div>
            </div>
          </div> 
        </div> 

      </div>


      <div class="individualProductHeading">
        How your zameen will look as an individual zameen when someone click on your zameen
      </div>
      <div class="mainBodyContainer">
        <!-- side images container of individual product -->
        <div class="sideImagesOfProduct">
          <div class="firstImage images">
            <img src="/imagesAndVideos/images/2.jpg" alt="">
          </div>
          <div class="secondImage images">
            <img src="/imagesAndVideos/images/2.jpg" alt="">
          </div>          
          <div class="ThirdImage images">
            <img src="/imagesAndVideos/images/2.jpg" alt="">
          </div>
          <div class="fourthImage images">
            <img src="/imagesAndVideos/images/2.jpg" alt="">
          </div>
          <div class="fifthImage images">
            <img src="/imagesAndVideos/images/2.jpg" alt="">
          </div>
          <div class="sixthImage images">
            <img src="/imagesAndVideos/images/2.jpg" alt="">
          </div>
          <div class="seventhImage images">
            <img src="/imagesAndVideos/images/2.jpg" alt="">
          </div>
        </div>

        <!-- main image container of individual product -->
        <div class="mainImageOfProduct">
          <img src="/imagesAndVideos/images/2.jpg" alt="">
        </div>

        <!-- individual product details container -->
        <div class="individualProductDetails">
          <div class="mainHeading">
            Near Awaas Vikas Colony with L*B. 440*100 
          </div> 
          <div class="productStats">
            <div class="productStarCount">
              4.5
            </div>
            <div class="productStars">
              <img src="../public/imagesAndVideos/Logos/ratings/rating-45.png" alt="">
            </div>
          </div> 
          <div class="claimedAndVisits">
            <div class="productClaims">
              Claimed: 35
            </div>
            <div class="productVisits">
              Visits: 432
            </div>
          </div>
          <div class="mainPrice">
            Price: <span>54 Lakhs</span>
          </div>
          <div class="mainLengthAndBreadth">
            <div class="productLengthAndBreadthText">
              LB = 440*100
            </div>
            <div class="productLengthAndBreadthDabba">
              L*B
            </div>
          </div>

          <div class="whyDetails">
            <div class="whyDetailsHead">
              Why should you buy...
            </div>
            <ul>
              <li>Just for an investment</li>
              <li>To build a family Home</li>
              <li>To start a small scale business</li>
              <li>To give place for kiraya</li>
              <li>For gift to anyone</li>
            </ul>
          </div>

          <div class="mainSpec">
            <div class="mainSpecHead">
              Product Specification:
            </div>
            <div class="mainSpecRatingStars">
              <img src="/imagesAndVideos/Logos/ratings/rating-45.png" alt="">
            </div>
            <ol type="a">
              <li>Near St. Xaviers School</li>
              <li>Near St. Xaviers School</li>
              <li>Near St. Xaviers School</li>
              <li>Near St. Xaviers School</li>
              <li>Near St. Xaviers School</li>
            </ol>
          </div>
          <div class="claimToCart">
            <button class="claimToCartButton js-claim-to-cart">
              Claim To Land Cart
            </button>
          </div>
          <div class="buyWithin48hours">
            <button class="buyWithin48hoursButton">
              Buy Within 48 Hours
            </button>
          </div>
          <div class="advertisingDabba">
            Advertising
          </div>
        </div>

          <!-- fourth advertising section in main body -->
        <div class="advertisingInMainBodyContainer">
          advertising
        </div>


        <!-- main page container div -->
      </div>

      <div class="formHeading">
        <div class="wanna">
          After seeing the preview, Wanna sell your zameen?
        </div>
        <div class="formMiddleHeading">
          To sell a zameen, you'll have to provide us some information by filling this form and giving us your Khatauni document image, then we'll verify your documents, then we'll provide you our Camera Man's phone number in Selling Cart, also on number you will provide us through this form. Then, our Cameraman will contact you for your zameen pictures and its address where he will inspect all the information around your zameen manually and in no more than 2 days, your zameen will be part of zameens with fastest zameen selling platform eg. <span>Landbook.com</span>. And what's more every payment of either when user is buying a land or selling a land, the selling user <span>get payment of selling their land offline only</span> also the buying land user can only give land price <span>offline only</span> under Landbook.com proper guidance at <span class="highlight">Landbook Query house</span> which is available in every tehsil in which the land is being sold or bought through <span>Landbook.com</span> when land is actually bought and selling user actually sell the land
        </div>
        <div class="formFinalHeading">
          So, Kindly fill the selling form in order to sell your zameen with no false information! There is no cost for to sell a land through Landbook.com
        </div>

        <a href="/sell/fillform/<%= city %>/<%= tehsil %>" class="sellingFormLink">
          Go to selling form.
        </a>
      </div>

    <!-- footer container -->
    <footer>

      <div class="aboutThisPage">
        <div class="pageLanguage">
          <div class="languageImage">
            🌐
          </div>
          <div class="languageText">
            English
          </div>  
        </div>
  
        <div class="aboutCountry">
          <div class="aboutCountryImage">
            <img src="/imagesAndVideos/images/1f1ee-1f1f3.png" alt="">
          </div>
          <div class="aboutCountryText">
            India
          </div>
        </div>
      </div>
  
      <div class="aboutCompany">
        <div class="companyConditions aboutCompanyTexts">
          Conditions of Use
        </div>
        <div class="companyPrivacyPolicy aboutCompanyTexts">
          Privacy Notice
        </div>
        <div class="aboutAdvertising aboutCompanyTexts">
          Interest-Based Ads
        </div>
      </div>
  
      <div class="companyCopywrite">
        .c. 1996-2024, Landbook.com, Inc. and its affiliates
      </div>
  
    </footer>


  <select id="languageSelect language-select">
    <option value="en">English</option>
    <option value="hi">हिन्दी</option>
    <option value="bn">বাংলা</option>
    <option value="ur">اردو</option>
    <option value="ta">தமிழ்</option>
    <option value="te">తెలుగు</option>
    <option value="pa">ਪੰਜਾਬੀ</option>
    <option value="gu">ગુજરાતી</option>
    <option value="ml">മലയാളം</option>
    <option value="mr">मराठी</option>
    <option value="it">Italiano</option>
  </select>


  <script>
  (function() {
const SELECT_ID = 'languageSelect';
const STORAGE_KEY = 'preferredLanguage';
const defaultSourceLang = 'en';

function setCookie(name, value, days, path = '/') {
  const d = new Date();
  d.setTime(d.getTime() + (days*24*60*60*1000));
  document.cookie = `${name}=${value};expires=${d.toUTCString()};path=${path}`;
}

function getCookie(name) {
  const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
  return match ? decodeURIComponent(match[2]) : null;
}

// Extract target language from googtrans cookie ("/en/hi" → "hi")
function currentLangFromCookie() {
  const c = getCookie('googtrans');
  if (!c) return defaultSourceLang;
  const parts = c.split('/');
  return parts[2] || defaultSourceLang;
}

function trySetComboLang(lang) {
  const combo = document.querySelector('.goog-te-combo');
  if (combo) {
    if (combo.value !== lang) {
      combo.value = lang;
      combo.dispatchEvent(new Event('change'));
      console.log('Translate combo switched →', lang);
    } else {
      console.log('Language already active →', lang);
    }
    return true;
  }
  return false;
}

function fallbackSetLang(lang) {
  try {
    setCookie('googtrans', `/${defaultSourceLang}/${lang}`, 365, '/');
    setCookie('googtrans', `/${defaultSourceLang}/${lang}`, 365, '/');
    window.location.reload();
  } catch (e) {
    console.error('fallbackSetLang error', e);
  }
}

function setLanguage(lang) {
  localStorage.setItem(STORAGE_KEY, lang);

  // prevent loop if already same language
  const current = currentLangFromCookie();
  if (current === lang) {
    console.log('Skip re-translate (already', lang, ')');
    return;
  }

  let attempts = 0;
  const maxAttempts = 25;
  const interval = setInterval(() => {
    attempts++;
    const done = trySetComboLang(lang);
    if (done) {
      clearInterval(interval);
      return;
    }
    if (attempts >= maxAttempts) {
      clearInterval(interval);
      console.warn('Combo not found, fallback to cookie');
      fallbackSetLang(lang);
    }
  }, 100);
}

function initSelector() {
  const sel = document.getElementById(SELECT_ID);
  if (!sel) return;

  // restore saved
  const saved = localStorage.getItem(STORAGE_KEY);
  if (saved) {
    sel.value = saved;
    const current = currentLangFromCookie();
    if (current !== saved) {
      setLanguage(saved);
    }
  }

  sel.addEventListener('change', function() {
    const lang = this.value;
    setLanguage(lang);
  });
}

if (document.readyState === 'loading') {
  document.addEventListener('DOMContentLoaded', initSelector);
} else {
  initSelector();
}
})()

  </script>


</body>
</html>