<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Query house staff panel page</title>

  <link rel="stylesheet" href="/stylesheets/homePagesCSS/queryhouse-staff-panel-css.css">

</head>
<body>

  <div class="header">
    <div class="title">
      Landbook
    </div>
    <div class="aboutPage">
      Landbook Query House panel (<%= franchise.queryhouseTehsil %>)
    </div>
  </div>

  <!-- navigations -->
  <nav class="main-navbar">
    <button class="hamburger" onclick="toggleSidebar()">
      &#9776
    </button>
    <div class="hamburgerNotification">
      <%= queryhouseUserBayanaForms.length %>
    </div>
  </nav>

  <div class="sidebar" id="sidebar">
    <div class="sidebarTops">
      <button class="close-btn" onclick="toggleSidebar()">
        &times;
      </button>
    </div>
    <div class="navigationsBox">
      <a href="/landbook-query-house/franchise/owner/<%= franchise.slug %>" class="links">
        <div class="navLinks">
          Home
        </div>
      </a>
      <% if(queryhouseStaff) { %>
        <a href="/landbook-query-house/owner/queryhouse-staffs/<%= franchise.slug %>" class="links">
          <div class="navLinks">
            Staffs
          </div>
        </a>
      <% } %>
    </div>

    <div class="navigationsBox2">
      <a href="/landbook-query-house/user-bayana-forms/<%= franchise.slug %>" class="links">
        <div class="navLinks sellingForms">
          User bayana forms
        </div>
        <div class="sellingFormsNotification">
          <%= queryhouseUserBayanaForms.length %>
        </div>
      </a>
      <a href="/us/admin-calculator" class="links">
        <div class="navLinks">
          Landbook price calculator
        </div>
      </a>
    </div>

    <div class="navigationsBox3">
      <a href="/us/mapCoordinates" class="links">
        <div class="navLinks sellingForms">
          Get map coordinates
        </div>
      </a>
      <a href="/home/aboutus" class="links">
        <div class="navLinks">
          About us
        </div>
      </a>
    </div>

  </div>

  <!-- sidebar container -->
  <!-- <div class="sidebarContainer">
    <a href="/landbook-query-house/user-bayana-forms/<%= franchise.slug %>" class="sidebarLinks">
      <div class="sellingForms sidebarContents">
        <img src="/imagesAndVideos/Logos/Cart Icon.svg" alt="">
          User bayana forms
      </div>
      <div class="sellingFormsNotification">
        <%= queryhouseUserBayanaForms.length %>
      </div>
    </a>  
    <a href="/us/admin-calculator" class="sidebarLinks">
      <div class="createMapElements sidebarContents">
        <img src="/imagesAndVideos/Logos/Help icon.svg" alt="">
          Landbook price calculator
      </div>
    </a>

    <a href="/us/mapCoordinates" class="sidebarLinks">
      <div class="supportUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/User feedback icon.svg" alt="">
        Get map coordinates
      </div>
    </a>

    <a href="/home/aboutus" class="sidebarLinks">
      <div class="aboutUsIcon sidebarContents">
        <img src="/imagesAndVideos/Logos/About us icon.svg" alt="">
        About Us
      </div>
    </a>

  </div> -->

  <% if(success.length > 0) { %>
    <div class="flash flash-success">
      <%= success %>
    </div>
  <% } %>
  <% if(error.length > 0) { %>
    <div class="flash flash-error">
      <%= error %>
    </div>
  <% } %>

  <div class="container">
    <div class="pageTitle">
      Landbook Query House Staff login
    </div>
    <div class="loginContainer">
      <div class="loginBox">
        <div class="loginTitle">
          Login now
        </div>

        <% if(queryhouseStaff) { %>
          <form action="/landbook-query-house/query-house-owner-logging-in/<%= franchise.slug %>" method="post">
            <input type="text" placeholder="Enter owner username" class="username" name="username" required>
            <input type="password" placeholder="Enter your password" class="password" name="password" required>
            <input type="submit" value="Login" class="login">
            <a href="/landbook-query-house/logout-query-house-owner/<%= franchise.slug %>" class="logoutLink">Logout</a>
          </form>
        <% } else { %>
          <form action="/landbook-query-house/query-house-staff-logging-in/<%= franchise.slug %>" method="post">
            <input type="text" placeholder="Enter username" class="username" name="username" required>
            <input type="password" placeholder="Enter your password" class="password" name="password" required>
            <a href="" class="forgotPass">
              forgot password?
            </a>
            <input type="submit" value="Login" class="login">
            <a href="/landbook-query-house/logout-query-house-staff/<%= franchise.slug %>" class="logoutLink">Logout</a>
          </form>
        <% } %>
      </div>
    </div>

    <% if(queryhouseStaff) { %>
      <div class="">
        <a href="/landbook-query-house/all-queryhouse-products/<%= franchise.slug %>" class="readProducts">
          Read all products of Landbook Query House
        </a>
        <!-- <a href="/us/login" class="readProducts">
          Go to home
        </a> -->
      </div>
    <% } %>

  </div>

  <script>
    function toggleSidebar() {
      document.getElementById('sidebar').classList.toggle('active');
    }
  </script>

</body>
</html>