<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user changing selling price page</title>

  <link rel="stylesheet" href="/stylesheets/buyingCartPagesCSS/buying-now-form-footer.css">
  <link rel="stylesheet" href="/stylesheets/buyingCartPagesCSS/user-changing-selling-price.css">
  <link rel="stylesheet" href="/stylesheets/buyingCartPagesCSS/buying-now-form-header.css">
  <link rel="stylesheet" href="/stylesheets/buyingCartPagesCSS/user-changing-selling-price-product.css">
  <link rel="stylesheet" href="/stylesheets/homePagesCSS/user-changing-selling-price-form.css">

          <!-- google translate hidden element (head) -->
<div id="google_translate_element" style="display:none;"></div>

<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'en,hi,bn,ur,ta,te,pa,gu,ml,mr,it',
      autoDisplay: false,
    }, 'google_translate_element');
  }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>
  
    <!-- header -->
    <div class="header">
      <div class="headerLogo">
        <a href="/home/landbook"><img src="/imagesAndVideos/Logos/LOGO/Wow3.webp" alt=""></a>
      </div>
      <div class="headerText">
        Landbook. Change selling price.
      </div>
    </div>

    <!-- navigations -->
    <div class="navigationsBox">
      <a href="/home/" class="links">
        <div class="navLinks">
          Home
        </div>       
      </a>
      <a href="/buy/viewproduct/<%= product._id %>/" class="links">
        <div class="navLinks">
          Previous Page
        </div>
      </a>
      <a href="" class="links">
        <div class="navLinks">
          Help
        </div>
      </a>
    </div>

    <% if(success.length > 0) { %>
      <div class="flash flash-success">
        <%= success %>
      </div>
    <% } %>
    <% if(error.length > 0) { %>
      <div class="flash flash-error">
        <%= error %>
      </div>
    <% } %>

    <div class="yourBuyingZameen">

      <div class="container"> 
        <% if(product) { %>
          <div class = "productsContainer">
            <div id = "<%= product._id %>">
              <div class="productsImage">
                <img src= "data:image/jpeg;base64, <%= product.productImages[0].toString('base64') %>" alt="">
              </div>
              <div class="productsPriceAndLB">
                <div class= "productsPrice">
                  Price: <%= product.landbookPrice %> Lakhs
                </div>
                <div class= "productsLB">
                  L * B: <%= product.LB %>
                </div>
              </div>
              <div class="productsSpec">
                <%= product.spec %>
              </div>
              <div class="productsStats">
                <div class="productsVisit">
                  Times Visited: <%= product.visits %> &#183
                </div>
                <div class="productsRating">
                  <img src= "/imagesAndVideos/Logos/ratings/rating-45.png">
                </div>
                <div class="productsClaim">
                  Claim: <%= product.claimedPeople.length %> &#183
                </div>
              </div>
              <!-- <div>
                <button class= "claimToCartButton js-claim-to-cart"> 
                Claim To Land Cart</button>
              </div> -->
            </div>
          </div>
        <% } %>

        <% 
        let sellerPrice = 0;
        <!-- let landbookPrice = 0; -->
        if(product) {
          sellerPrice += product.sellerPrice;
        }
        const likhwayiFemale = sellerPrice * 0.07;
        const likhwayiMale = sellerPrice * 0.08;
        const brokerCost = sellerPrice * 0.038;
        const landbookCost = sellerPrice * 0.023;
        const customerSaved = brokerCost - landbookCost;
        const finalMale = sellerPrice + likhwayiMale + landbookCost;
        const finalFemale = sellerPrice + likhwayiFemale + landbookCost;
        %>


        <!-- buying summary -->
        <% if(product) { %>
          <div class="buyingSummary js-buying-summary">

            <div class="buyingSummaryHeading">
              Your selling product
            </div>
            <div class="numberOfZameens">
              Zameen (<span class="js-cartItemNumber">1</span>)
            </div>
            <div class="buyingSummaryContentsContainer">
              <div class="buyingSummaryContents">
                <div class="landbookTitle">
                  Landbook Price
                </div>
                <div class="titles">
                  Seller Price:
                </div>
                <div class="numbers">
                  <b><%= sellerPrice.toFixed(2) %> Lakhs.</b>
                </div>
                <div class="titles">
                  Likhwayi [female(6%) / male(7%) + 1% regn.charges]
                </div>
                <div class="numbers">
                  <b><%= likhwayiFemale.toFixed(2) %> Lakhs </b> (female)
                </div>
                <div class="titles">
                  Likhwayi (Male)
                </div>
                <div class="numbers">
                  <b><%= likhwayiMale.toFixed(2) %> Lakhs</b>
                </div>
                <div class="titles">
                  <span class="logo">Landbook</span> <a href="" class="convenienceLinks">
                    convenience
                  </a> fee (0.8%)
                </div>
                <div class="landbookConvenience">
                  <b><%= landbookCost.toFixed(2) %> Lakhs</b>
                </div>
              </div>


              <div class="buyingSummaryContents">
                <div class="brokerTitle">
                  Broker Price
                </div>
                <div class="titles">
                  Price:
                </div>
                <div class="numbers">
                  <b><%= sellerPrice.toFixed(2) %> Lakhs.</b>
                </div>
                <div class="titles">
                  Likhwayi [female(6%) / male(7%) + 1% regn.charges]
                </div>
                <div class="numbers">
                  <b><%= likhwayiFemale.toFixed(2) %> Lakhs</b>(female)
                </div>
                <div class="titles">
                  Likhwayi (Male)
                </div>
                <div class="numbers">
                  <b><%= likhwayiMale.toFixed(2) %> Lakhs</b>
                </div>
                <div class="titles">
                  Broker convenience fee (1.5 + 2.3)%
                </div>
                <div class="brokerConvenience">
                  <b><%= brokerCost.toFixed(2) %> Lakhs</b> <a href="" class="sourceLinks">source</a>
                </div>
              </div>

              <div class="lastTitles">
                User will save: {(broker)-(landbook)} convenience fee: 
              </div>
              <div class="numbers">
                <b><%= customerSaved.toFixed(2) %> lakhs.</b>
              </div>
              <div class="landbookPriceTitle">
                Total Price (Female):
              </div>
              <div class="landbookPrice">
                <b><%= finalFemale.toFixed(2) %> lakhs.</b>
              </div>
              <div class="landbookPriceTitle">
                Total Price (Male):
              </div>
              <div class="landbookPrice">
                <b><%= finalMale.toFixed(2) %>lakhs.</b>
              </div>

            </div>
          </div>
        <% } %>

  </div>

      </div> 

    </div>

    <!-- form code -->
    <div class="formHeading">
      <div class="wanna">
        Wanna change your land's selling price? , here is some <a href="" class="preview">Instructions</a> to what value you have to give in order to change your land's selling price...
      </div>
      <div class="formMiddleHeading">
        Enter the Price* on which you want to sell this land. <b>Seller will be given this selling price on selling their land.</b> Once you becomes seller and your product get on the Landbook, you can edit the price later from your profile easily. But <b>Remember</b>, if a buyer add your product in his/her buying cart, then you cannot be able to change the price and you have to sell the land at that exact price. Also in entering the price, seller can only give values in lakhs only. For ex- If user wants to give seller price as 34 lakhs 21 thousand then enter: 34.21. If user wants to add price in crores (3 crores 25 lakhs) then enter: 325 only. If user wants to enter seller price as 3 crore 25 lakhs 50 thousand then enter: 325.50. If user wants seller price as 12 crore 25 lakhs then enter: 1225 only. If user wants seller price as 12 crores 25 lakhs 30 thousand then enter: 1225.30 only.
      </div>
      <div class="formFinalHeading">
        So, Kindly fill this below form in order to change your upper given product's selling price with no false information! <br>
        <b>Note:</b> In order to change the selling price of your product again, user have to log in again and Before Landbook makes sure that no users is buying your land currently. 
      </div>
    </div>
    <!-- form of selling -->
    <div class="sellingForm">
      <div class="sellingFormHeading">
        Change your selling product's selling price.
      </div>
      <div id="buyingFormWarning" style="display: none;">
        <p class="warning">Buying form can only be submitted between 7:00 AM to 2:00 PM, please try again later or contact <span><a href="" class="logo">Landbook</a></span> for query.</p>
      </div>

      <% if(product) { %>
        <form action="/us/selling-user/changed-selling-price/<%= product._id %>" method="post" id="form">

          <label for="sellerPrice" class="labels">Previous seller price:</label>
            <input type="number" value="<%= product.sellerPrice.toFixed(2) %>" name="previousSellerPrice" step="any" required class="number" readonly>

          <label for="landbookPrice" class="labels">Previous Landbook price:</label>
            <input type="number" value="<%= product.landbookPrice.toFixed(2) %>" name="previousSellerPrice" step="any" required class="number" readonly>


          <label for="sellerPrice" class="labels">New seller price :*</label>
            <input type="number" placeholder="Enter price in lakhs eg. 34, 40" name="sellerPrice" id="sellerPrice" step="any" required class="number">

            <p id="error" style="color: red; font-size: 14px; display: none;">Please enter price in lakhs format only (65.50 or 125.50).</p>
            <div class="note">
              <b>Note: </b>Enter the Price* on which you want to sell this land. <b>Seller will be given this selling price on selling their land.</b> Once you becomes seller and your product get on the Landbook, you can edit the price later from your profile easily. But <b>Remember</b>, if a buyer add your product in his/her buying cart, then you cannot be able to change the price and you have to sell the land at that exact price. Also in entering the price, seller can only give values in lakhs only. For ex- If user wants to give seller price as 34 lakhs 21 thousand then enter: 34.21. If user wants to add price in crores (3 crores 25 lakhs) then enter: 325 only. If user wants to enter seller price as 3 crore 25 lakhs 50 thousand then enter: 325.50. If user wants seller price as 12 crore 25 lakhs then enter: 1225 only. If user wants seller price as 12 crores 25 lakhs 30 thousand then enter: 1225.30 only.
            </div>

          <label for="landbookPrice" class="labels">New Landbook price:</label>
            <input type="number" id="landbookPrice" name="landbookPrice" step="any" required class="number" readonly>

          <label for="brokerPrice" class="labels">New Broker price:</label>
            <input type="number" id="brokerPrice" name="brokerPrice" step="any" required class="number" readonly>

          <div id="flash" class="errorFlash"></div>
          <input type="reset" class="resetButton">
          <input type="submit" class="submitButton">


        </form>
      <% } else { %>
        <div class="noProducts">
          A bayana form already filled by any user for this product, try again later.
        </div>
      <% } %>
    </div>

    <!-- footer container -->
    <footer>

      <div class="aboutThisPage">
        <div class="pageLanguage">
          <div class="languageImage">
            <img src="/imagesAndVideos/Logos/LOGO/Wow3.webp" alt="">
          </div>
          <div class="languageText">
            English
          </div>  
        </div>
  
        <div class="aboutCountry">
          <div class="aboutCountryImage">
            <img src="/imagesAndVideos/Logos/LOGO/Wow4.webp" alt="">
          </div>
          <div class="aboutCountryText">
            India
          </div>
        </div>
      </div>
  
      <div class="aboutCompany">
        <div class="companyConditions aboutCompanyTexts">
          Conditions of Use
        </div>
        <div class="companyPrivacyPolicy aboutCompanyTexts">
          Privacy Notice
        </div>
        <div class="aboutAdvertising aboutCompanyTexts">
          Interest-Based Ads
        </div>
      </div>
  
      <div class="companyCopywrite">
        .c. 1996-2024, Landbook.com, Inc. and its affiliates
      </div>
  
    </footer>

    <script>


    </script>
    <script src="/javascripts/user-changing-selling-price.js"></script>


  <select id="languageSelect language-select">
    <option value="en">English</option>
    <option value="hi">हिन्दी</option>
    <option value="bn">বাংলা</option>
    <option value="ur">اردو</option>
    <option value="ta">தமிழ்</option>
    <option value="te">తెలుగు</option>
    <option value="pa">ਪੰਜਾਬੀ</option>
    <option value="gu">ગુજરાતી</option>
    <option value="ml">മലയാളം</option>
    <option value="mr">मराठी</option>
    <option value="it">Italiano</option>
  </select>


  <script>
  (function() {
const SELECT_ID = 'languageSelect';
const STORAGE_KEY = 'preferredLanguage';
const defaultSourceLang = 'en';

function setCookie(name, value, days, path = '/') {
  const d = new Date();
  d.setTime(d.getTime() + (days*24*60*60*1000));
  document.cookie = `${name}=${value};expires=${d.toUTCString()};path=${path}`;
}

function getCookie(name) {
  const match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
  return match ? decodeURIComponent(match[2]) : null;
}

// Extract target language from googtrans cookie ("/en/hi" → "hi")
function currentLangFromCookie() {
  const c = getCookie('googtrans');
  if (!c) return defaultSourceLang;
  const parts = c.split('/');
  return parts[2] || defaultSourceLang;
}

function trySetComboLang(lang) {
  const combo = document.querySelector('.goog-te-combo');
  if (combo) {
    if (combo.value !== lang) {
      combo.value = lang;
      combo.dispatchEvent(new Event('change'));
      console.log('Translate combo switched →', lang);
    } else {
      console.log('Language already active →', lang);
    }
    return true;
  }
  return false;
}

function fallbackSetLang(lang) {
  try {
    setCookie('googtrans', `/${defaultSourceLang}/${lang}`, 365, '/');
    setCookie('googtrans', `/${defaultSourceLang}/${lang}`, 365, '/');
    window.location.reload();
  } catch (e) {
    console.error('fallbackSetLang error', e);
  }
}

function setLanguage(lang) {
  localStorage.setItem(STORAGE_KEY, lang);

  // prevent loop if already same language
  const current = currentLangFromCookie();
  if (current === lang) {
    console.log('Skip re-translate (already', lang, ')');
    return;
  }

  let attempts = 0;
  const maxAttempts = 25;
  const interval = setInterval(() => {
    attempts++;
    const done = trySetComboLang(lang);
    if (done) {
      clearInterval(interval);
      return;
    }
    if (attempts >= maxAttempts) {
      clearInterval(interval);
      console.warn('Combo not found, fallback to cookie');
      fallbackSetLang(lang);
    }
  }, 100);
}

function initSelector() {
  const sel = document.getElementById(SELECT_ID);
  if (!sel) return;

  // restore saved
  const saved = localStorage.getItem(STORAGE_KEY);
  if (saved) {
    sel.value = saved;
    const current = currentLangFromCookie();
    if (current !== saved) {
      setLanguage(saved);
    }
  }

  sel.addEventListener('change', function() {
    const lang = this.value;
    setLanguage(lang);
  });
}

if (document.readyState === 'loading') {
  document.addEventListener('DOMContentLoaded', initSelector);
} else {
  initSelector();
}
})()

  </script>

</body>
</html>